Functions

In [34]:
 
def myFun(**kwargs):
    for key, value in kwargs.items():
        print("%s == %s" % (key, value))
 
 
# Driver code
myFun(first='Geeks', mid='for', last='Geeks')

first == Geeks
mid == for
last == Geeks

function inside function

In [35]:
out='Python'

def f1():
    s1='Hello'
    def f2():
        print(s1,out)
    f2()
f1()

Hello Python

In [36]:
def my_function():
    ''' lorem ipsum dolor sit
    amet, consectetur
    adipis'''
    return None

print(my_function.__doc__)
print('......................')
print(my_function)

 lorem ipsum dolor sit
    amet, consectetur
    adipis
......................
<function my_function at 0x000001DE78F39EE0>

In [37]:
def cube_function(n):
    ans = n*n*n
    return ans

print(cube_function(2))

8

In [38]:
var = lambda a: 
print(var(2))

def add(a):
    a+10
    a-10
    return a+10
print(add(2))

SyntaxError: invalid syntax (2569178938.py, line 1)

In [ ]:
var1=lambda n: n*n
var2=lambda n: n*n*n

ans= var1(2)
print(ans)
print(var2(ans))

def call_func():
    ans = var1(2) + 1
    print("From User def:",ans)

call_func()

4
64
From User def: 5

In [ ]:
#program to find odd and even
ans = lambda num: True if num%2 == 0 else False

ans(3)

False

In [ ]:
# file1= open("new_file.txt","w")
# file1.write("Hi there am from python program")
# file1.close()

file1= open("new_file.txt","r")
print(file1.read())
file1.close()

Hi there am from python program
Hi All

In [ ]:
list1=[1,2,3,4]

iterator_obj=iter(list1)
next(iterator_obj)
next(iterator_obj)
print(next(iterator_obj))
print(next(iterator_obj))

3
4

In [ ]:
string1="Python"
Iter1=iter(string1)
next(Iter1)

'P'

In [ ]:
def gen():
    for i in range(0,20):
        if i % 2 != 0:
            yield i

def sum():
    s=0
    for val in gen():
        s = s + val
    print(s)
sum()

100

In [62]:
list=[10,'y',100,20]
list.index('y')

1

In [63]:
list.insert(3,35)
list

[10, 'y', 100, 35, 20]

In [64]:
list.pop()

20

In [65]:
list

[10, 'y', 100, 35]

In [66]:
list.remove(35)
list

[10, 'y', 100]

In [67]:
list.reverse()
list

[100, 'y', 10]

In [68]:
list

[100, 'y', 10]

In [2]:
list=[5,8,6,9,7,1,10,3]
list.sort(reverse=True)
list

[10, 9, 8, 7, 6, 5, 3, 1]

In [73]:
list=[5,8,6,9,7,1,10,3]
list.sort()
list.reverse()
list

[10, 9, 8, 7, 6, 5, 3, 1]

In [75]:
list1 = [[i+1] for i in range(5) if i % 2 ==0 ]
list1

[[1], [3], [5]]

In [5]:
odd_list=[]
for i in range(100):
      if i % 2 != 0:
        odd_list.append(i)
print(odd_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [20]:
fruits =['Ornge','Banana','Mango','Grapes','Watermelon']
fruit_list= [i.upper() for i in fruits if i.find("a") != -1 ]
print(fruit_list)

['BANANA', 'MANGO', 'GRAPES', 'WATERMELON']

In [1]:
list=[[i for i in range(32) if i%2 != 0] for j in range(16)]
list

l1=[j for j in range(4)]

[[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31]]

In [7]:
mat=[]
for i in range(16):
    mat.append([])
    for j in range(16):
        j=2*j+1
        mat[i].append(j)
mat

[[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31]]

In [15]:
t1= (1,[2,3],(5,6))
t2= ()
t1[1].append(4)
t1

(1, [2, 3, 4], (5, 6))

In [28]:
import sys

list1=[1]
tuple1=(1)
print(sys.getsizeof(list1))
print(sys.getsizeof(tuple1))

64
28

In [31]:
d1={"3":1}
print(type(d1))

<class 'dict'>

In [54]:
people ={"A","B","C","D"}
print(people)

people.add("D")
print(people)

{'A', 'B', 'D', 'C'}
{'A', 'B', 'D', 'C'}

In [55]:
people ={'A','B','C','D'}
vampire={'E','F','G','H','I'}
dracula={'J','K','L','M','N'}

population= people.union(vampire)
population

{'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I'}

In [62]:
set1=set()
set2=set()

for i in range(5):
    set1.add(i)
for i in range(3,9):
    set2.add(i)

set3=set2|set1
set3

{0, 1, 2, 3, 4, 5, 6, 7, 8}

In [64]:
set1=set()
for i in range(5):
    set1.add(i)
print(set1)

set1.clear()
print(set1)

{0, 1, 2, 3, 4}
set()

Dictionary

In [7]:
d={"Programming":{1:"Python",2:"C",3:"C++",4:"Java"},0:"Zero value"}
print(d["Programming"][1])

Python

In [16]:
d={}
for i in range(10):
    d[i]= i*i
d[10]={"numbers":{1,2,3,4,5,6,7,8}}
d.update({5:"Hi",0:"Hello"})
d

{0: 'Hello',
 1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 'Hi',
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: {'numbers': {1, 2, 3, 4, 5, 6, 7, 8}}}

In [22]:
d={"Programming":"Python",0:"Zero value","A":"B"}
j=0
for i in d:
    if j==2:
        print(i)
    j=j+1

A

In [26]:
seq = {'a', 'b', 'c', 'd', 'e'}
lis1 = [2, 3]
 
res_dict = dict.fromkeys(seq, lis1)
print("The newly created dict with list values : "      + str(res_dict))
 

lis1 = [2, 3, 4,5,6]

res_dict2 = {key: list(lis1) for key in seq}

print("The newly created dict with list values : "      + str(res_dict2))

The newly created dict with list values : {'c': [2, 3], 'e': [2, 3], 'b': [2, 3], 'a': [2, 3], 'd': [2, 3]}
The newly created dict with list values : {'c': [2, 3, 4, 5, 6], 'e': [2, 3, 4, 5, 6], 'b': [2, 3, 4, 5, 6], 'a': [2, 3, 4, 5, 6], 'd': [2, 3, 4, 5, 6]}

In [28]:
set1=set("python")

for i in set1:
    print(i)

for id,val in enumerate(set1):
    print(id,val)

y
o
p
h
n
t
0 y
1 o
2 p
3 h
4 n
5 t

In [2]:
states_and_capital={
    'A':'1',
    'B':'2',
    'C':'3',
    'D':'4'
}
for k in states_and_capital:
    print(states_and_capital[k])

1
2
3
4

In [1]:
names=['PYTHON']
grades=[1,4,5,8,7,]
    


# 1st code
fd = open(r"a.txt","w")
for i in range(1):
    record= names[i]+str(" ")+str(grades[i])+str("\n")
    val =fd.write(record)
fd.close()

#  2nd code
fd = open(r"a.txt","r")
fd.seek(2)

file_data =fd.readlines()
print(file_data)
print(fd.tell())
fd.close()

['THON 1\n']
10

In [4]:
print("value: %2d is int and %5.2f"%(11250,30.569))

value: 11250 is int and 30.57

In [13]:
a=10
b=20.5
sum=a+b
# print("sum of ",a," and ",b," is ",sum)
# print("sum of %2d and %2.1f is %2.2f"%(a,b,sum))

print(" sum is {2}  of {1} and {0}".format(a,b,sum))

 sum is 30.5  of 20.5 and 10

In [11]:
print(" I love {} for {}".format('Python','Geek'))

 I love Python for Geek

In [28]:
file_object = open("file1.txt","w")
print(file_object.write("Hi there"))
file_object.close()

file_object = open("file1.txt","r")
print(file_object.read())
file_object.close()

8
Hi there

In [30]:
with open("file2.csv",'w') as file_object:
    print(file_object.write("Hello Python"))

with open("file2.txt",'r') as file_object:
    print(file_object.read())

12
Hello Python

In [29]:
amt=10000
if(amt>2999):
    print("You can purchase")
    a=amt/0
    print(a)

You can purchase

ZeroDivisionError: division by zero

Index exception raise,

In [25]:
import math
def divide(x,y):
    a=[1,2,3]
    try:
        math.sqrt(-10)
        print(a[2])
        print("Am skipped")
        res=x//y
        print("result: ",x,y, res)
        
        
    except ZeroDivisionError:
        result=x//(y+1)
        print(" Result= %f"%(result))
    except IndexError :
        print("Index exception raise, ")
    except:
        print("Empty exception called")
        
        
        
divide(3,2)

Empty exception called

In [32]:
def func():
    
    try:
        file_handler=open("ab.txt","w")
        file_handler.write("Hello Python")
        
        
    except:
        print("Exception raised")
    finally:
        file_handler.close()

In [42]:
def func():
    
    try:
        file_handler=open("ab1.txt","w")
        file_handler.write("Hello Python")

    except:
        print("Exception raised")
    finally:
        print("finally block")
        file_handler.close()
func()

finally block

In [40]:
def func():
    try:
        file_handler=open("ab1.txt","w")
        file_handler.write("Hello Python1")
        file_handler.close()
    except:
        print("Exception raised")
func()

In [49]:
def func():
    try:
        a=10
        if(a>2):
            str1="Exception Raised from func "+str(a)
            raise NameError(str1)
    except NameError:
        print("handling")
func()

handling

NameError: Exception Raised from func 10

In [34]:
import csv

i=0
max=1
with open("C:/Users/Keonics/Desktop/Practice/ipl_2023_dataset.csv","r") as file_object:

    data = csv.reader(file_object) # it will read the data from csv file store in data
    
    for line in data:   # reads from iterable data object and puts each line in line object for  every loop
        i=i+1
        
        if i==1 and i<240:
            continue
        if float(line[3]) >= max:
                max=float(line[3])
                print(max, line[1]) #0th index item of every line in data object
        print("Number of rows:",data.line_num)

16.25 Ben Stokes
Number of rows: 2
Number of rows: 3
Number of rows: 4
Number of rows: 5
Number of rows: 6
Number of rows: 7
Number of rows: 8
Number of rows: 9
Number of rows: 10
Number of rows: 11
Number of rows: 12
Number of rows: 13
Number of rows: 14
Number of rows: 15
Number of rows: 16
Number of rows: 17
Number of rows: 18
Number of rows: 19
Number of rows: 20
Number of rows: 21
Number of rows: 22
Number of rows: 23
Number of rows: 24
Number of rows: 25
Number of rows: 26
Number of rows: 27
Number of rows: 28
Number of rows: 29
Number of rows: 30
Number of rows: 31
Number of rows: 32
Number of rows: 33
Number of rows: 34
Number of rows: 35
Number of rows: 36
Number of rows: 37
Number of rows: 38
Number of rows: 39
Number of rows: 40
Number of rows: 41
Number of rows: 42
Number of rows: 43
Number of rows: 44
Number of rows: 45
Number of rows: 46
Number of rows: 47
Number of rows: 48
Number of rows: 49
Number of rows: 50
Number of rows: 51
Number of rows: 52
Number of rows: 53
Number of rows: 54
Number of rows: 55
Number of rows: 56
Number of rows: 57
Number of rows: 58
Number of rows: 59
Number of rows: 60
Number of rows: 61
Number of rows: 62
Number of rows: 63
Number of rows: 64
Number of rows: 65
Number of rows: 66
Number of rows: 67
Number of rows: 68
Number of rows: 69
Number of rows: 70
Number of rows: 71
Number of rows: 72
Number of rows: 73
Number of rows: 74
Number of rows: 75
Number of rows: 76
Number of rows: 77
Number of rows: 78
Number of rows: 79
Number of rows: 80
Number of rows: 81
Number of rows: 82
Number of rows: 83
Number of rows: 84
Number of rows: 85
Number of rows: 86
Number of rows: 87
Number of rows: 88
Number of rows: 89
Number of rows: 90
Number of rows: 91
Number of rows: 92
Number of rows: 93
Number of rows: 94
Number of rows: 95
Number of rows: 96
Number of rows: 97
Number of rows: 98
17.0 KL Rahul
Number of rows: 99
Number of rows: 100
Number of rows: 101
Number of rows: 102
Number of rows: 103
Number of rows: 104
Number of rows: 105
Number of rows: 106
Number of rows: 107
Number of rows: 108
Number of rows: 109
Number of rows: 110
Number of rows: 111
Number of rows: 112
Number of rows: 113
Number of rows: 114
Number of rows: 115
Number of rows: 116
Number of rows: 117
Number of rows: 118
Number of rows: 119
Number of rows: 120
Number of rows: 121
Number of rows: 122
Number of rows: 123
17.5 Cameron Green
Number of rows: 124
Number of rows: 125
Number of rows: 126
Number of rows: 127
Number of rows: 128
Number of rows: 129
Number of rows: 130
Number of rows: 131
Number of rows: 132
Number of rows: 133
Number of rows: 134
Number of rows: 135
Number of rows: 136
Number of rows: 137
Number of rows: 138
Number of rows: 139
Number of rows: 140
Number of rows: 141
Number of rows: 142
Number of rows: 143
Number of rows: 144
Number of rows: 145
Number of rows: 146
Number of rows: 147
18.5 Sam Curran
Number of rows: 148
Number of rows: 149
Number of rows: 150
Number of rows: 151
Number of rows: 152
Number of rows: 153
Number of rows: 154
Number of rows: 155
Number of rows: 156
Number of rows: 157
Number of rows: 158
Number of rows: 159
Number of rows: 160
Number of rows: 161
Number of rows: 162
Number of rows: 163
Number of rows: 164
Number of rows: 165
Number of rows: 166
Number of rows: 167
Number of rows: 168
Number of rows: 169
Number of rows: 170
Number of rows: 171
Number of rows: 172
Number of rows: 173
Number of rows: 174
Number of rows: 175
Number of rows: 176
Number of rows: 177
Number of rows: 178
Number of rows: 179
Number of rows: 180
Number of rows: 181
Number of rows: 182
Number of rows: 183
Number of rows: 184
Number of rows: 185
Number of rows: 186
Number of rows: 187
Number of rows: 188
Number of rows: 189
Number of rows: 190
Number of rows: 191
Number of rows: 192
Number of rows: 193
Number of rows: 194
Number of rows: 195
Number of rows: 196
Number of rows: 197
Number of rows: 198
Number of rows: 199
Number of rows: 200
Number of rows: 201
Number of rows: 202
Number of rows: 203
Number of rows: 204
Number of rows: 205
Number of rows: 206
Number of rows: 207
Number of rows: 208
Number of rows: 209
Number of rows: 210
Number of rows: 211
Number of rows: 212
Number of rows: 213
Number of rows: 214
Number of rows: 215
Number of rows: 216
Number of rows: 217
Number of rows: 218
Number of rows: 219
Number of rows: 220
Number of rows: 221
Number of rows: 222
Number of rows: 223
Number of rows: 224
Number of rows: 225
Number of rows: 226
Number of rows: 227
Number of rows: 228
Number of rows: 229
Number of rows: 230
Number of rows: 231
Number of rows: 232
Number of rows: 233
Number of rows: 234
Number of rows: 235
Number of rows: 236
Number of rows: 237
Number of rows: 238
Number of rows: 239
Number of rows: 240
Number of rows: 241
Number of rows: 242
Number of rows: 243
Number of rows: 244

ValueError: could not convert string to float: ''

In [31]:
import csv

with open("C:/Users/Keonics/Desktop/Practice/ipl_2023_dataset.csv","r") as file_object:
    data_table= csv.DictReader(file_object)
    
    for line in data_table:
        if line["Team"] == "Royal Challengers Bangalore":
            print(line["Price Cr"])

15
11
10.75
10.75
7.75
7
7
5.5
3.4
3.2
2.4
2
1.9
0.95
0.8
0.75
0.7
0.6
0.5
0.3
0.2
0.2
0.2
0.2
0.2

In [37]:
import csv

field =['Name','Branch','Year','CGPA']
rows=[['A','CS','Final Year',8.0],
      ['B','CS','Final Year',8.0],
      ['C','CS','Final Year',8.0],
      ['D','CS','Final Year',8.0],
      ['E','CS','Final Year',8.0]
]

filename='keonics.csv'

with open(filename,'w') as csvfile:
    writer_object= csv.writer(csvfile)
    writer_object.writerow(field)
    writer_object.writerows(rows)


with open(filename,'r') as csvfile:
      data=csv.reader(csvfile)
      for line in data:
            print(line)

['Name', 'Branch', 'Year', 'CGPA']
[]
['A', 'CS', 'Final Year', '8.0']
[]
['B', 'CS', 'Final Year', '8.0']
[]
['C', 'CS', 'Final Year', '8.0']
[]
['D', 'CS', 'Final Year', '8.0']
[]
['E', 'CS', 'Final Year', '8.0']
[]