Functions

In [34]:
 
def myFun(**kwargs):
    for key, value in kwargs.items():
        print("%s == %s" % (key, value))
 
 
# Driver code
myFun(first='Geeks', mid='for', last='Geeks')

first == Geeks
mid == for
last == Geeks

function inside function

In [35]:
out='Python'

def f1():
    s1='Hello'
    def f2():
        print(s1,out)
    f2()
f1()

Hello Python

In [36]:
def my_function():
    ''' lorem ipsum dolor sit
    amet, consectetur
    adipis'''
    return None

print(my_function.__doc__)
print('......................')
print(my_function)

 lorem ipsum dolor sit
    amet, consectetur
    adipis
......................
<function my_function at 0x000001DE78F39EE0>

In [37]:
def cube_function(n):
    ans = n*n*n
    return ans

print(cube_function(2))

8

In [38]:
var = lambda a: 
print(var(2))

def add(a):
    a+10
    a-10
    return a+10
print(add(2))

SyntaxError: invalid syntax (2569178938.py, line 1)

In [ ]:
var1=lambda n: n*n
var2=lambda n: n*n*n

ans= var1(2)
print(ans)
print(var2(ans))

def call_func():
    ans = var1(2) + 1
    print("From User def:",ans)

call_func()

4
64
From User def: 5

In [ ]:
#program to find odd and even
ans = lambda num: True if num%2 == 0 else False

ans(3)

False

In [ ]:
# file1= open("new_file.txt","w")
# file1.write("Hi there am from python program")
# file1.close()

file1= open("new_file.txt","r")
print(file1.read())
file1.close()

Hi there am from python program
Hi All

In [ ]:
list1=[1,2,3,4]

iterator_obj=iter(list1)
next(iterator_obj)
next(iterator_obj)
print(next(iterator_obj))
print(next(iterator_obj))

3
4

In [ ]:
string1="Python"
Iter1=iter(string1)
next(Iter1)

'P'

In [ ]:
def gen():
    for i in range(0,20):
        if i % 2 != 0:
            yield i

def sum():
    s=0
    for val in gen():
        s = s + val
    print(s)
sum()

100

In [62]:
list=[10,'y',100,20]
list.index('y')

1

In [63]:
list.insert(3,35)
list

[10, 'y', 100, 35, 20]

In [64]:
list.pop()

20

In [65]:
list

[10, 'y', 100, 35]

In [66]:
list.remove(35)
list

[10, 'y', 100]

In [67]:
list.reverse()
list

[100, 'y', 10]

In [68]:
list

[100, 'y', 10]

In [2]:
list=[5,8,6,9,7,1,10,3]
list.sort(reverse=True)
list

[10, 9, 8, 7, 6, 5, 3, 1]

In [73]:
list=[5,8,6,9,7,1,10,3]
list.sort()
list.reverse()
list

[10, 9, 8, 7, 6, 5, 3, 1]

In [75]:
list1 = [[i+1] for i in range(5) if i % 2 ==0 ]
list1

[[1], [3], [5]]

In [5]:
odd_list=[]
for i in range(100):
      if i % 2 != 0:
        odd_list.append(i)
print(odd_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [20]:
fruits =['Ornge','Banana','Mango','Grapes','Watermelon']
fruit_list= [i.upper() for i in fruits if i.find("a") != -1 ]
print(fruit_list)

['BANANA', 'MANGO', 'GRAPES', 'WATERMELON']

In [1]:
list=[[i for i in range(32) if i%2 != 0] for j in range(16)]
list

l1=[j for j in range(4)]

[[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31]]

In [7]:
mat=[]
for i in range(16):
    mat.append([])
    for j in range(16):
        j=2*j+1
        mat[i].append(j)
mat

[[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31]]

In [15]:
t1= (1,[2,3],(5,6))
t2= ()
t1[1].append(4)
t1

(1, [2, 3, 4], (5, 6))

In [28]:
import sys

list1=[1]
tuple1=(1)
print(sys.getsizeof(list1))
print(sys.getsizeof(tuple1))

64
28

In [31]:
d1={"3":1}
print(type(d1))

<class 'dict'>

In [54]:
people ={"A","B","C","D"}
print(people)

people.add("D")
print(people)

{'A', 'B', 'D', 'C'}
{'A', 'B', 'D', 'C'}

In [55]:
people ={'A','B','C','D'}
vampire={'E','F','G','H','I'}
dracula={'J','K','L','M','N'}

population= people.union(vampire)
population

{'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I'}

In [62]:
set1=set()
set2=set()

for i in range(5):
    set1.add(i)
for i in range(3,9):
    set2.add(i)

set3=set2|set1
set3

{0, 1, 2, 3, 4, 5, 6, 7, 8}

In [64]:
set1=set()
for i in range(5):
    set1.add(i)
print(set1)

set1.clear()
print(set1)

{0, 1, 2, 3, 4}
set()

Dictionary

In [7]:
d={"Programming":{1:"Python",2:"C",3:"C++",4:"Java"},0:"Zero value"}
print(d["Programming"][1])

Python

In [16]:
d={}
for i in range(10):
    d[i]= i*i
d[10]={"numbers":{1,2,3,4,5,6,7,8}}
d.update({5:"Hi",0:"Hello"})
d

{0: 'Hello',
 1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 'Hi',
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: {'numbers': {1, 2, 3, 4, 5, 6, 7, 8}}}

In [22]:
d={"Programming":"Python",0:"Zero value","A":"B"}
j=0
for i in d:
    if j==2:
        print(i)
    j=j+1

A

In [26]:
seq = {'a', 'b', 'c', 'd', 'e'}
lis1 = [2, 3]
 
res_dict = dict.fromkeys(seq, lis1)
print("The newly created dict with list values : "      + str(res_dict))
 

lis1 = [2, 3, 4,5,6]

res_dict2 = {key: list(lis1) for key in seq}

print("The newly created dict with list values : "      + str(res_dict2))

The newly created dict with list values : {'c': [2, 3], 'e': [2, 3], 'b': [2, 3], 'a': [2, 3], 'd': [2, 3]}
The newly created dict with list values : {'c': [2, 3, 4, 5, 6], 'e': [2, 3, 4, 5, 6], 'b': [2, 3, 4, 5, 6], 'a': [2, 3, 4, 5, 6], 'd': [2, 3, 4, 5, 6]}

In [28]:
set1=set("python")

for i in set1:
    print(i)

for id,val in enumerate(set1):
    print(id,val)

y
o
p
h
n
t
0 y
1 o
2 p
3 h
4 n
5 t

In [2]:
states_and_capital={
    'A':'1',
    'B':'2',
    'C':'3',
    'D':'4'
}
for k in states_and_capital:
    print(states_and_capital[k])

1
2
3
4

In [1]:
names=['PYTHON']
grades=[1,4,5,8,7,]
    


# 1st code
fd = open(r"a.txt","w")
for i in range(1):
    record= names[i]+str(" ")+str(grades[i])+str("\n")
    val =fd.write(record)
fd.close()

#  2nd code
fd = open(r"a.txt","r")
fd.seek(2)

file_data =fd.readlines()
print(file_data)
print(fd.tell())
fd.close()

['THON 1\n']
10

In [4]:
print("value: %2d is int and %5.2f"%(11250,30.569))

value: 11250 is int and 30.57

In [13]:
a=10
b=20.5
sum=a+b
# print("sum of ",a," and ",b," is ",sum)
# print("sum of %2d and %2.1f is %2.2f"%(a,b,sum))

print(" sum is {2}  of {1} and {0}".format(a,b,sum))

 sum is 30.5  of 20.5 and 10

In [11]:
print(" I love {} for {}".format('Python','Geek'))

 I love Python for Geek

In [28]:
file_object = open("file1.txt","w")
print(file_object.write("Hi there"))
file_object.close()

file_object = open("file1.txt","r")
print(file_object.read())
file_object.close()

8
Hi there

In [30]:
with open("file2.csv",'w') as file_object:
    print(file_object.write("Hello Python"))

with open("file2.txt",'r') as file_object:
    print(file_object.read())

12
Hello Python

In [29]:
amt=10000
if(amt>2999):
    print("You can purchase")
    a=amt/0
    print(a)

You can purchase

ZeroDivisionError: division by zero

Index exception raise,

In [25]:
import math
def divide(x,y):
    a=[1,2,3]
    try:
        math.sqrt(-10)
        print(a[2])
        print("Am skipped")
        res=x//y
        print("result: ",x,y, res)
        
        
    except ZeroDivisionError:
        result=x//(y+1)
        print(" Result= %f"%(result))
    except IndexError :
        print("Index exception raise, ")
    except:
        print("Empty exception called")
        
        
        
divide(3,2)

Empty exception called

In [32]:
def func():
    
    try:
        file_handler=open("ab.txt","w")
        file_handler.write("Hello Python")
        
        
    except:
        print("Exception raised")
    finally:
        file_handler.close()

In [42]:
def func():
    
    try:
        file_handler=open("ab1.txt","w")
        file_handler.write("Hello Python")

    except:
        print("Exception raised")
    finally:
        print("finally block")
        file_handler.close()
func()

finally block

In [40]:
def func():
    try:
        file_handler=open("ab1.txt","w")
        file_handler.write("Hello Python1")
        file_handler.close()
    except:
        print("Exception raised")
func()

In [49]:
def func():
    try:
        a=10
        if(a>2):
            str1="Exception Raised from func "+str(a)
            raise NameError(str1)
    except NameError:
        print("handling")
func()

handling

NameError: Exception Raised from func 10

OOP Concepts

In [1]:
class Bulb:
    #Attributes
    ON = False
    OFF =False
    
    def __init__(self,Status1,Status2):
        self.ON=Status1
        self.OFF=Status2
    
    #methods
    def Status(self):
        print("ON:",self.ON)
        print("OFF:",self.OFF)
    
    def Switch(self):
        if self.ON == True:
            print("Bulb Is ON")
        else:
            print("Bulb Is OFF")

Obj = Bulb(False, False)
# Obj.Status()
Obj.Switch()

Obj1 = Bulb(True, True)
# Obj1.Status()
Obj1.Switch()

Bulb Is OFF
Bulb Is ON

In [14]:
class Car:
    wheels=0
    SeatingCapacity=""
    Nameofthecar =""
    CarModel=""
    Fueltype=""
    CC=""
    
    def __init__(self,wheels,SeatingCapacity,Nameofthecar,CarModel,Fueltype,CC):
        self.wheels=wheels
        self.SeatingCapacity=SeatingCapacity
        self.Nameofthecar=Nameofthecar
        self.CarModel=CarModel
        self.Fueltype=Fueltype
        self.CC=CC
    def cardetails(self):
        print("Car Details:",self.wheels,self.SeatingCapacity,self.Nameofthecar, self.CarModel,self.Fueltype,self.CC)

obj = Car(4,5,"Maruti","800","Petrol","800")
obj.cardetails()

Car Details: 4 5 Maruti 800 Petrol 800

In [2]:
class Truck:
    #properties / Attributes
    seat = 2
    tyre =6
    fuel="D"
    carrier="Goods"
    fuelstate=True
    
    #methods
    def Drive(self):
        if self.fuelstate == True:
            print("Ready to drive, fuel available.")
        else:
            print("No Fuel Available.")

    def __init__(self,seat,tyre):
        self.seat=seat
        self.tyre=tyre
        self.fuel="petrol"
        self.carrier="Frozen Goods"
        self.fuelstate=True
obj = Truck(4,8)
obj.Drive()

Ready to drive, fuel available.

Create a student class and initialize it with student details like name, roll number,marks1,marks2,marks3 and show all details of student with one method and another for showing sum of all three subject marks.

In [3]:
class stud:
    name =""
    rollno=''
    s1=0
    s2=0
    s3=0
    

    def stud_info(self):
        print(self.name, self.rollno, self.s1, self.s2, self.s3)
    
    def __init__(ajay, name, rollno, s1, s2, s3):
        ajay.name=name
        ajay.rollno=rollno
        ajay.s1=s1
        ajay.s2=s2
        ajay.s3=s3

    def add(ajay):
        sum=ajay.s1+ajay.s2+ajay.s3
        print("Total Marks ",sum)

student1_object= stud("Student1",25,85,95,98)
student1_object.stud_info()
student1_object.add()

Student1 25 85 95 98
Total Marks  278

Polymorphism

In [5]:
def add(a,b):
    c=a+b
    print(c)
    
add("Ten "," Twenty")

Ten  Twenty

In [12]:
class Bird():
    def Intro (self):
        print("There are many types of birds.")
    def flight(self):
        print("Most of the birds can fly but some cannot.")

class Sparrow (Bird):
    def display(self):
        print("You are in display")
        

class Ostrich(Bird):
    def flight(self):
        print("Ostrich cannot fly.")

obj_Bird = Bird()
obj_Sparrow =Sparrow()
obj_Ostrich=Ostrich()

obj_Bird.Intro()
obj_Sparrow.Intro()
obj_Ostrich.Intro()

obj_Bird.flight()
obj_Sparrow.flight()
obj_Ostrich.flight()

There are many types of birds.
There are many types of birds.
There are many types of birds.
Most of the birds can fly but some cannot.
Most of the birds can fly but some cannot.
Ostrich cannot fly.

In [14]:
class car():
    def display(self):
        print("Car info display")

class truck():
    def display(self): 
        print("Truck info display")
        
obj1 = car()
obj2 = truck()

def func(obj):
    obj.display()

func(obj1)
func(obj2)

Car info display
Truck info display

In [18]:
name =""
rollno=''
s1=10
s2=0
s3=0
    

def stud_info():
    print(name, rollno, s1, s2, s3)
stud_info()

  10 0 0

Encapsulation

In [13]:
class Parent():
    def __init__(self):
        self.a="Python"
        self.__c=" Programming"

class Child(Parent):

    def __init__(self):
        Parent.__init__(self)
        print(self.__c)

obj1 = Child()
print(obj1.__c)

AttributeError: 'Child' object has no attribute '_Child__c'

Inheritance Demo

In [18]:
class Base():
    a=10
    
class Derived(Base):
    b=20
    
    #  virtually available to derived class a=10
    def add (self):
        pass

obj1= Derived()
obj1.add()

Sum: 30

pass

In [23]:
class Pass_Class():
    def Pass_func(self,):

        if 20>10:
            pass
        
obj1= Pass_Class()

obj1.Pass_func()

In [26]:
from abc import ABC,abstractmethod
class polygon(ABC):
    @abstractmethod
    def sides(self):
        pass
class triangle(polygon):
    
    def sides(self):
        print("i am triangle have 3 sides.")

obj1= triangle()
obj1.sides()

i am triangle have 3 sides.

In [32]:
# l1=[1,7,3,4,8,4,7]
l1= [1,2,4,2,7,4]

l2=[]
N=len(l1)
k=2

for i in l1:
    count=l1.count(i)
    if count==k:
        l2.append(i)

for j in range(len(l2)):
    if j< len(l2)-1:
        
        if l2[j] == l2[j+1]:
            print("Answer:",l2[j])
            break

0
1
2